@font-face {
  font-family: AvenirRoman;
  src: url(./font/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirMedium;
  src: url(./font/Avenir-medium.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(./font/Avenir\ -black.ttf);
}

:root {
  /* ===== Colors ===== */
  --black: #000;
  --white: #fff;
  --grey: #676767;
  --primary: #e30614;
  --light-grey: #c8c8c8;

  /* Transition  */
  --tran: all 0.2s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: AvenirMedium, Arial, Helvetica, sans-serif;
  background-color: var(--white);
  line-height: 1.5;
  /*background-color: var(--light-grey);*/
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

header {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  /*width: 100vw;*/
  align-items: center;
  padding: 2rem 2rem 0.2rem 2rem;
}

header img {
  scale: 1.2;
  translate: 0% -10%;
   /*margin-right: 2rem;*/
}

header h1 {
  padding-left: 3.5rem;
  text-transform: uppercase;
}

main {
  padding: 1rem;
  width: 100vw;
  background-color: var(--white);
}

main ul {
  text-decoration: none;
  list-style: none;
}

main li {
  padding: 0.3rem;
}

ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.navigation li:hover {
  color: var(--primary);
  transition: var(--tran);
  text-decoration: underline;
}

ul a:hover {
  color: var(--primary);
}

.main-div {
  display: flex;
  flex-direction: row;
}

.navigation {
  position: sticky;
  top: 0;
  padding: 1rem;
  margin-top: 1rem;
  height: fit-content;
  border-right: 1px solid var(--grey);
}

.content {
  margin: 1em 0 1em 0;
}

.content a {
  text-decoration: underline;
  color: var(--grey);
}

.content a:hover {
  color: var(--primary);
}

.container {
  padding: 1rem;

}

.content {
  margin: 1em 0 1em 0;
}

.content a {
  text-decoration: underline;
  color: var(--grey);
}

.content a:hover {
  color: var(--primary);
}

.content {
  border: 0px 1px 1px 0px solid var(--grey);
}

/* Text */

h1 {
  font-family: AvenirBlack;
  color: var(--primary);
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
  border-bottom: 1px solid var(--grey);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-family: AvenirRoman;
}

/* wingsan's part: images */

.logos {
  display: flex;
}

.kleurlogo {
    display: block;
    margin-top: 1rem;
}

.logos img {
    width: 10rem;
    margin: 2rem;
}

.logos :nth-of-type(2) {
    background-color: #D9D9D9;
    border-radius: 1rem;
}

.logos :nth-of-type(3) {
    background-color :#000;
    border-radius: 1rem;
}

.layout {
    margin-top: 2rem;
}

.layout img {
    width: 75rem;
    width: 90%;
    max-width: 100vw;
    margin: 2rem;
}

.captions {
    margin-top: 2rem;
}

.jeugd {
    display: flex;
    text-align: center;
}

.jeugd img {
    width: 22rem;
    margin: 2rem;
}

.illustratie {
    display: flex;
}

.illustratie img {
    width: 22rem;
    margin: 2rem;
}

.producten {
    margin-top: 2rem;
}

.articles {
  display: flex;
  text-align: center;
}

article img {
    width: 5rem;
    height: 7rem;
    margin: 1rem;
    box-shadow: 0.2rem 0.2rem #D9D9D9;
}

.logocode {
  margin-top: 1rem;
}

/* Forms - Anne*/

.forms h3,
.forms p,
.forms h4 {
  margin-top: 1rem;
}

.forms span {
  font-weight: bold;
}

.forms li em {
  display: block;
}

.forms img {
  max-width: 468px;
  width: 100%;
}

.forms li:first-of-type img {
  border: 0.5px solid #e1e1e1;
}

.forms ul {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(426px, 1fr));
  gap: 0.5rem;
}

.forms pre,
.forms code {
  width: 90%;
  max-width: 100vw;
  white-space: pre-wrap;
}

/* Typography */

.medium {
  font-family: AvenirMedium;
}

.black {
  font-family: AvenirBlack;
}

.roman {
  font-family: AvenirRoman;
}

.heading-example {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed var(--black);
  padding: 0.25rem;
  margin: 0.5rem;
}

.heading-example h2 {
  border: none;
}

.heading-info {
  display: flex;
  flex-direction: row;
}

.heading-example > div {
  padding: 0.5rem;
}

.heading-info > div {
  padding: 1rem;
}

#color em {
  font-size: 0.8rem;
}

#color span {
  color: var(--primary);
}

/* color */
.color-container:first-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .color-container:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .color-container {
    padding: 1rem;
    gap: 1rem;
  }
  
  .color-container .color-block {
    height: 128px;
    width: 128px;
  }
  
  .color-example:first-of-type .color-block {
    background-color: #000;
  }
  
  .color-example:nth-of-type(2) .color-block {
    background-color: var(--grey);
  }
  
  .color-example:nth-of-type(3) .color-block {
    background-color: #FF0000;
  }
  
  .color-example:nth-of-type(4) .color-block {
    background-color: var(--white);
    border: 1px solid var(--light-grey);
  }
  
  /* extra kleuren */
  
  .extra-color-example:first-child .color-block {
    background-color: #df5429;
  }
  
  .extra-color-example:nth-of-type(2) .color-block {
    background-color: #93256c;
  }
  
  .extra-color-example:nth-of-type(3) .color-block {
    background-color: #2a9077;
  }
  
  .extra-color-example:nth-of-type(4) .color-block {
    background-color: #1a63a1;
  }
  
  /* kleine kleur blokjes */
  
  .small-color-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
  
  .small-color-block {
    height: 80px;
    width: 80px;
  }
  
  .small-color-sample p {
    font-size: 0.8rem;
  }
  
  .small-color-sample:first-child .small-color-block {
    background-color: #ed9f2d;
  }
  
  .small-color-sample:nth-child(2) .small-color-block {
    background-color: #d9146b;
  }
  
  .small-color-sample:nth-child(3) .small-color-block {
    background-color: #4d3981;
  }
  
  .small-color-sample:nth-child(4) .small-color-block {
    background-color: #2c8ec2;
  }
  
  .small-color-sample:nth-child(5) .small-color-block {
    background-color: #54a144;
  }
  
  .small-color-sample:nth-child(6) .small-color-block {
    background-color: #abc439;
  }
  
/*buttons*/
button {
  border: none;
  box-shadow: 10px 5px 5px #858585;

  background-color: white;
  /*color: #202121;*/
  /*background-color: #DDFF00;*/
  font-size: 1em;
  font-family: AvenirMedium;
  border-radius: 6px;
  padding: 0.5rem;
  margin-left: 0.2em;
  margin-top: 1em;
  /*color: white;*/
}
.grid-images-buttons {
  display: grid;
  grid-template-areas: "item1 item2" "item3";
}
.button_hover:hover{
  background-color: #ffffff; /* Green */
  color: #ff3232;
}
pre {
  background-color: #f6f6f6;
}
@media (min-width: 0em) and (max-width: 40em) {
  .grid-images-buttons {
    display: grid;
    grid-template-areas:
      "item1 "
      "item2"
      "item3 ";
  }
  .main-div{
    font-size: 0.8em;
  }
}
th {
  /*color: #FFFFFF;*/
  background-color: #ffffff;
  border: 0.2em solid #000000;
  /*border: 1px solid #dddddd; !*  hier word een randje meegegeven aan de th  *!*/
  font-size: 1.5em;
  line-height: 1.5;
}

/*dit zijn de celblockej*/
td {
  background-color: #ffffff;
  border: 0.2em solid #000000;
  font-size: 1em;
  line-height: 1.5;
  margin: 1em;
}
/* body {
  min-height: 100vh;

  font-family: AvenirMedium;

  line-height: 1.5;
  font-size: 1em;
  color: #0e0e0e;
  background-color: #e4e9f7ff;
}

header {
  position: absolute;
  top: 0;
  left: 20em;
  height: 90vh;
}

nav {
  background-color: #efeaea;
  position: fixed;
  top: 0;
    left: 0; 
  height: 100%;
  width: 15em;
  padding: 0.5em 1em;

  z-index: 100;
}

.home {
  position: absolute;
  top: 10em;
  left: 18em;
  height: 90vh;
  width: -webkit-fill-available; calc(100% - 250px);
  background-color: purple;
}

li {
  margin: 2em;
  list-style-type: none;
  background-color: #ae7d7e;
}

div {
  margin: 2em;
}

section {
  background-color: yellow;
  display: grid;
  grid-template-rows: 7em 25em;
  grid-template-columns: 15em;
  border: 0.1em solid black;

  border-width: 15em;
}

@media (min-width: 0em) and (max-width: 40em) {
  section {
    background-color: yellow;

    width: 25em;
    border: 0.1em solid black;
    border-width: 15em;
  }
} */
